<div class="col m12">

  <form #expedienteForm="ngForm" (ngSubmit)="onSubmit(expedienteForm)" autocomplete="off">

    <div class="card-panel">
      <span class="card-title">
        <h5>Carga De Expedientes</h5>
      </span>
      <div class="row">

        <div class="input-field col s6">
          <ng2-completer id="efector" placeholder="Efector" [(ngModel)]="expediente.efector" name="efector" class="autocomplete"
            [datasource]="organizacionDataService" [minSearchLength]="0" [textNoResults]="'No hay coincidencia'"
            [textSearching]="'Buscando...'" [autoHighlight]="true" [fillHighlighted]="false" required></ng2-completer>
        </div>

        <div class="input-field col s12 m6 l6">
          <input id="fecha" type="text" class="datepicker" [(ngModel)]="expediente.fecha" name="fecha" materialize="pickadate" [materializeParams]="[expedienteOption]">
          <label for="fecha" data-error="Requerido" data-success="OK">Fecha</label>
        </div>
        
        <div class="input-field col s6">
          <select id="categoria" name="categoria" [(ngModel)]="expediente.categoria" materialize="material_select"
            required>
            <option value="" disabled selected>--Seleccione-- </option>
            <option *ngFor="let cat of categorias" [value]="cat.nombre">{{cat.nombre}}</option>
          </select>
          <label for="categoria" data-error="Requerido" data-success="OK">Categoría</label>
        </div>

        <div class="input-field col s6">
          <input id="cantidad" type="number" class="validate" [(ngModel)]="expediente.cantidad" name="cantidad"
            #cantidad="ngModel" required>
          <label for="cantidad" data-error="Requerido" data-success="OK">Cantidad</label>
        </div>

        <div class="input-field col s6">
          <input id="monto" type="number" class="validate" [(ngModel)]="expediente.monto" name="monto" #monto="ngModel"
            required>
          <label for="monto" data-error="Requerido" data-success="OK">Monto</label>
        </div>

        <div class="input-field col s6">
          <input id="descripcion" type="text" class="validate" [(ngModel)]="expediente.descripcion" name="descripcion"
            #descripcion="ngModel">
          <label for="descripcion" data-error="Requerido" data-success="OK">Descripcion</label>
        </div>

        <div class="input-field col s6">
          <input id="detalle" type="text" class="validate" [(ngModel)]="expediente.detalle" name="detalle" #detalle="ngModel">
          <label for="detalle" data-error="Requerido" data-success="OK">Detalle</label>
        </div>

        <div class="input-field col s6">
          <input id="expediente" type="text" class="validate" [(ngModel)]="expediente.expediente" name="expediente"
            #expediente="ngModel" required>
          <label for="expediente" data-error="Requerido" data-success="OK">Expediente</label>
        </div>

      </div>
      <button type="submit" class="waves-effect waves-light btn" [disabled]="!expedienteForm.form.valid">Guardar</button>      
    </div>
  </form>
</div>

<!-- Modal Structure -->
<div id="modal1" class="modal">
  <div class="modal-content">
    <h4>El expediente se guardó correctamente!</h4>
    <!-- <p>A bunch of text</p> -->
  </div>
  <div class="modal-footer">
    <a class="modal-close waves-effect waves-green btn-flat">Aceptar</a>
  </div>
</div>
