.testcls {
  border: 1px solid white;
  /* background: #85561B; */
  /* width: 30%;
  height: 150px; */
  color: white;
  text-align: center;
  /* padding-bottom: 5em; */
}

nav {
  background-color: #315091 !important;
}

.dropdown-content li > a, .dropdown-content li > span {
  color: #315091 !important;
}

nav ul a:hover {
  background-color: rgba(255, 255, 255, 0) !important;
}
