<div class="container">
  <div class="col s12 testcls">
    <img class="brand-logo responsive-img" id="logo" src="../assets/img/logo-wide.svg" />
  </div>

  <ul id="dropdown1" class="dropdown-content">
    <li><a routerLink="/cargarExpediente">Cargar Expediente</a></li>
  </ul>

  <ul id="dropdown2" class="dropdown-content">
    <li><a routerLink="/reporte">Reportes</a></li>
  </ul>

  <nav>
    <div class="nav-wrapper">
      <ul class="left hide-on-med-and-down">
        <li><a class="dropdown-trigger" href="#!" data-activates="dropdown1">Gestor de Expedientes<i class="material-icons right">arrow_drop_down</i></a></li>
        <li><a class="dropdown-trigger1" href="#!" data-activates="dropdown2">Reportes<i class="material-icons right">arrow_drop_down</i></a></li>
      </ul>
    </div>
  </nav>

  <router-outlet></router-outlet>

</div>
