<div class="col m12">
  <div class="card-panel">
    <span class="card-title">
      <h5>Reporte De Expedientes</h5>
    </span>
    <div class="row">

      <input type='text' style='padding:8px;margin:15px auto;width:30%;' placeholder='Buscar Expediente' [(ngModel)]="searchText" />

      <table class="responsive-table striped">
        <thead>
          <tr>
            <th style="width:5%">N° Exp</th>
            <th style="width:20%">Efector</th>
            <th style="width:15%">Descripción </th>
            <th style="width:5%">Categoría </th>
            <th style="width:5%">Cantidad </th>
            <th style="width:5%">Monto </th>
            <th style="width:20%">Detalle </th>
            <th style="width:10%">Fecha </th>
            <th style="width:5%">Editar </th>
          </tr>
        </thead>

        <tbody>
          <tr style="text-align:right" *ngFor="let exp of expedientes | filtro : searchText">
            <td style="text-align:center">{{exp.expediente}}</td>
            <td>{{exp.efector | uppercase}}</td>
            <td>{{exp.descripcion | uppercase}}</td>
            <td>{{exp.categoria | uppercase}}</td>
            <td style="text-align:center">{{exp.cantidad}}</td>
            <td style="text-align:center">{{exp.monto | currency:'USD':true:'2.2-4'}}</td>
            <td>{{exp.detalle | uppercase}}</td>
            <td style="text-align:center">{{exp.fecha | date: 'dd/MM/yyyy'}}</td>
            <td>
              <a class="btn-floating  waves-effect waves-light red" [routerLink]="'/cargarExpediente/' + exp._id">
                <i class="material-icons">edit</i>
              </a>
            </td>
          </tr>

        </tbody>
      </table>
    </div>
  </div>
</div>
